@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
body{
  /* background: linear-gradient(111deg, rgba(240,228,240,1) 0%, rgba(221,191,166,1) 11%, rgba(221,191,166,1) 35%, rgba(60,17,120,0.46186396922050066) 100%); */
  /* background: rgb(159,185,229); */
  /* background: linear-gradient(115deg, rgba(159,185,229,1) 1%, rgba(148,187,233,0.2097631288843662) 100%); */
  /* background-color: #daafda; */ 

  /* background: rgb(240,228,240);
  background: linear-gradient(115deg, rgba(240,228,240,1) 0%, rgba(221,191,166,1) 0%, rgba(221,191,166,1) 35%, rgba(60,17,120,0.88763427734375) 100%);
  background: rgb(240,228,240);
  background: linear-gradient(90deg, rgba(240,228,240,1) 0%, rgba(226,217,217,1) 35%);
  background: rgb(240,228,240);
  background: linear-gradient(90deg, rgba(240,228,240,1) 3%, rgba(226,217,217,0.8372141092765231) 61%); */
  background-color:aliceblue;
  background-color: beige;
  background: rgb(240,228,240);
  background: linear-gradient(90deg, rgba(240,228,240,1) 3%, rgba(220, 222, 176, 0.837) 61%);
  z-index: 1;
}
.navbar-background{
  background-color:#3C1178;
  /* font-family: "Roboto", sans-serif; */
  font-size: 30px; 
  font-weight: bold;
  /* background-image: linear-gradient(90deg,#3C1178,#6674a0); */
  /* background-color: #6674a0; */
  color:wheat;
  background-color: rgb(19, 19, 44);
}
 .product-name{
  color: wheat;
  border-bottom: 2px solid wheat;
  cursor: pointer;
}
.product-name:hover{
  color: rgb(224, 235, 78);
  transition: transform 2s linear;
  cursor: pointer;
  border-bottom: 2px solid rgb(224, 235, 78);
} 

.section-item{
  /* padding: 5px; */
   margin:5px ;
  border: 2px solid rgb(203, 188, 152);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  
}  

.item-title{
  /* margin-left:10px; */
  font-weight: bold;
  padding: 5px;
  margin-left: 5px;
}

.text-xs{
  
  /* padding: 5px; */
}
.form-container{
  /* border:1px solid green; */
  margin-top: 10rem ;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  align-self: center;


}
.gcp-connection-form{
  flex-direction: row;
  margin-top:10px ;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 80%;
  column-gap: 10px;
  /* border:1px solid red; */
  border-radius: 5px;
  padding:10px ;
  
}

.gcp-connection-form label{
  font-weight: bold;
}
.gcp-connection-form label,textarea{
display: block;
margin-bottom: 20px;


}
.gcp-connection-form input{
  width: 100%;
  border:none;
  display: block;
  margin-bottom:20px ;
}
 .input-text-area{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }
.submit-sercice-account{
  display: block;
  width: 50%;
 padding: 10px;
  height: auto;
  border:1px solid black;
  border-radius: 5px;
  background-color: rgb(19, 19, 44);
  color:whitesmoke;
}

.footer{
  color:wheat;
  font-weight: bold;
  background-color: rgb(19, 19, 44);
}